# Python temporary files
__pycache__/
*.py[cod]
*$py.class

# Environment variables (Where your passwords live)
.env

# Virtual environments
venv/
env/
.venv/

# IDE specific files
.vscode/
.idea/

# Database files
*.sqlite3